@model GerenciamentoDespesas.ViewModels.EstatisticasViewModel
@{
    
}
<div>
    <h3>Estatíticas de Gastos</h3>
    <hr class="leaf"/>
    <p>Quantidade Despesas Cadastradas : @Model.QuantidadeDespesas</p>
    <p> Menor Despesa : R$@Model.MenorDespesa</p>
    <p> Maior Despesa : R$@Model.MaiorDespesa</p>
</div>

